.container_custom{
    width: 505px;
    height: 505px;
   
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.floating-btn:hover {
    background-color: #0056b3;
}

.table th, .table td {
    vertical-align: middle;
}

.modal .modal-header {
    background: linear-gradient(90deg , red , rgb(115, 17, 17));
    color: white;
}
