{% extends "_layout.html" %}
{% load static %}


{% block login %} 
		

    <form id="send_code_phone" action="" class="mt-0" dir="rtl" method="post" >
        {% csrf_token %}
    
        <h4 class="mb-4">فراموشی رمز عبور</h4>
        
        <input type="text" name="phone" required placeholder="شماره تلفن خود را وارد کنید" class="form-control phone">
    
        <div id="resualt_code" class="p-2 m-3">
    
    
        </div>

        <div class="overlay-right">
            <button class="btn btn-success pt-2 pb-2 pr-4 pl-4 " type="button" id="send_codes">ارسال کد</button>
        </div>
    </form>



		
{%endblock%}

{% block singup %}

<form action="" dir="rtl" method="post" id="change_pass">
    {% csrf_token %}
    <h4 class="mb-1">تایید کد</h4>
    <input type="text" name="code" required placeholder="کد ارسال شده را وارد کنید" class="form-control mt-3" >

    <h4 class="mt-4">رمز جدید</h4>

    <input type="text" name="pass" required placeholder="رمز جدید را وارد کنید" class="form-control mt-3" >
    <input type="text" name="pass_again" required placeholder="رمز جدید را تکرار کنید" class="form-control mt-3" >

    <div id="resualt_change">

    </div>

    <button class="" id="send_change"  type="button"  style="background-color: #333333;"  > تغییر رمز عبور </button> 
       
</form>

{%endblock%}

{% block script %}

<script src="{% static 'js/forget.js' %}"></script>

{% endblock %}