.containerv {
    margin: 100px auto;
    text-align: center;
    width: 80%;
}
.image, .details {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s ease forwards;
    display: inline-block;
}
.details {
    transform: translateX(100%);
    animation-delay: 0.5s;
}
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.image img {
    
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    box-shadow: 0px 0px 20px black;
   
}
.details {
    background-color: rgb(252, 191, 177);
    padding: 50px;
    border-radius: 10px;
    margin-left: 20px;
    width: 400px;
    box-shadow: 0px 0px 20px black;
   
}
.details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.details p {
    font-size: 16px;
    color: #555;
}
.price_div{
    display: flex;
    direction: rtl;
    justify-content: space-between;
}
.btn-grop{
    float: right;
    margin-right: 20px;
}
.containers{
    margin: 150px auto;
    text-align: center;
    width: 90%;
}
.comment{
width: 300px;
height: 350px;

}
.radios{
border-radius: 0 0px 0px 20px ;
}
.bod{
overflow-y: scroll;
}
.cont{
box-shadow: 0px 0px 20px red;
padding: 20px 0 20px 0;
background-color: #fd12121d;
border-radius: 15px;
}
.bod::-webkit-scrollbar {
width: 20px; /* عرض اسکرول */
}
.bod::-webkit-scrollbar-track {
    background: #800505; /* رنگ پس‌زمینه مسیر اسکرول */
    
}
.bod::-webkit-scrollbar-thumb {
    background: #5d0101; /* رنگ دستگیره */
    border-radius: 5px;
}
@keyframes move-left {
0% {
transform: translateX(0); /* شروع انیمیشن */
}
100% {
transform: translateX(-100%); /* حرکت کل آیتم‌ها به سمت چپ */
}
}

.moving-items {
animation: move-left 100s linear infinite;
display: inline-flex;
}
.star-rating .star:hover,
.star-rating .star:hover ~ .star{
  background-color: red;
}

.container-comment{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    overflow: hidden;
    
    

}
.card-comment{
    box-shadow: 0px 0px 20px red;
    animation: downcomment 2s ;
    -webkit-animation: downcomment 2s ;
    animation-timing-function:cubic-bezier(0.34, 1.56, 0.64, 1);
    
    

}
.card-hader-comment{
    background: linear-gradient(90deg , rgb(255, 0, 0) ,rgb(255, 4, 142));
  
}
.card-body-comment{
    background-color: rgba(146, 104, 104, 0.324);
    border-bottom: 1px dashed black;
   
}
.card-footer-comment{
   
    border: none;
    background-color: rgba(146, 104, 104, 0.324);
  
}
.likes:hover{
    animation: like 1s linear infinite;
    animation-iteration-count: 1;
}
@keyframes like {
    0% {
        transform: rotate(0deg);
       
}
    25% {
        transform: rotate(-45deg);
       
}
    50% {
        transform: rotate(-90deg);
      
}
    75% {
        transform: rotate(-45deg);
     
    }
    100% {
        transform: rotate(0deg);
      
}
 }
.dislikes:hover{
    animation: dislike 1s linear infinite;
    animation-iteration-count: 1;
   
}
@keyframes dislike {
    0% {
        transform: rotate(0deg);
       
}
    25% {
        transform: rotate(45deg);
        
}
    50% {
        transform: rotate(90deg);
      
}
    75% {
        transform: rotate(45deg);
      
}
    100% {
        transform: rotate(0deg);
      
}
  }

@keyframes downcomment{
        0% {
            transform: translateY(-200%);
        }
        100% {
            transform: translateY(0%);
        }
        
    }
    

.modal-head-style{
    direction: rtl;
}   

.modal-head-style .closes{
    margin-left: 0;
}

.allcomment{
    width: 100%;
    min-height: 250px;
}
.modal-body-scroll{
   direction: rtl;
   margin: 0 auto;
   max-height: 600px;
   overflow-y: scroll;
}
.modal-body-scroll::-webkit-scrollbar {
    width: 20px; /* عرض اسکرول */
    }
.modal-body-scroll::-webkit-scrollbar-track {
        background: #650135; /* رنگ پس‌زمینه مسیر اسکرول */
        
    }
.modal-body-scroll::-webkit-scrollbar-thumb {
        background: #e89ac2; /* رنگ دستگیره */
        border-radius: 5px;
    }

.questions{
    width: 100%;
   
    
    }
.img-Buy img{
    width: 100%;
}


 

